{% extends "public/public_base.html" %}

{% block title %}{{ ftl('common-projects') }}{% endblock %}

{% block content %}
<h1>{{ ftl('common-projects') }}</h1>

{% if project_data %}
<ul class="website-list">
    {% for item in project_data %}
    <li>
        <article>
            <a href="{{ url_for('public.client_project', project_id=item.project.id) }}">
                {{ item.project.name }}
            </a>
            <br>
            <small>
                {{ ftl('public-tested-of-total-pages-tested', tested=item.stats.tested_pages, total=item.stats.total_pages) }}
                &middot;
                {{ ftl('public-count-violations', count=item.stats.total_violations) }}
            </small>
        </article>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{ ftl('public-no-projects-available') }}</p>
{% endif %}
{% endblock %}
